
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto,Arial,sans-serif;
}
.container{
  width: 100vw;
  height: 200vh;
}
.navbar{
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
}
.leftNav{
  display: flex;
  gap: 20px;
}
.leftNav img:nth-child(2){
  width: 90px;
}
.centerNav{
  width: 60%;
  display: flex;
  justify-content: center;
}
.centerNav >input{
  background-color: black;
  font-size:17px;
  border: none;
  width: 50%;
  padding: 5px 15px;
  border: 1px solid #303030;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
}
.centerNav img:nth-child(2){
  padding: 3px 10px;
  background-color: #222222;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.centerNav img:nth-child(3){
  margin-left: 10px;
}

.rightNav{
  display: flex;
  gap: 20px;
}
.rightNav img:nth-child(3){
    border-radius: 50%;
    width: 30px;
}

.ytPremium{
  font-family: Roboto,Arial,sans-serif;
  height: 51%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.ytdesc >h2{
  font-family: Roboto,Arial,sans-serif;
  text-align: center;;
  font-weight: 100;
  font-size: 32px;
  line-height: 40px;
}
.ytPremiumDetails{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap:20px;
  justify-content: center;
  align-items: center;
}
.ytPremiumDetails > button{
  padding: 10px 15px;
  border-radius: 15px;
  width: 40%;
  border: none;
  font-weight: 600;
  background-color: #3ae6ff;
}

.ytPremiumDetails p:nth-child(2){
  font-size: 25px;
  font-weight: lighter;
}
.annual{
  color: #76c4ff;
}
.ytPremiumDetails p:nth-child(4){
  color: #76c4ff;
}
.features{
  /* padding: 10px; */
   background-color: black;
    color: white;
    display: flex;
    height: 39%;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
}

.features div:nth-child(1),.features div:nth-child(2),.features div:nth-child(3){
   width: 18%;
   height: 60%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   
   align-items: center;
}
.features div:nth-child(1)>p,.features div:nth-child(2)>p,.features div:nth-child(3)>p{
   color: rgb(220, 202, 202);
}

.features h2{
   font-size:25px;
}
.bg1{
  background-image: url(assest/bg1.jpeg);
  height: 50%;
  background-size: cover;

}
.bg1>div>h2{
  font-size: 4rem;
  font-weight: 600;
}
.bg1>div{
  padding-top:10% ;
  padding-left: 50% ;
  display: flex;
  flex-direction: column;
  gap:10px;


  color: white;
}
.bg1>div>p{
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.bg2{
  background-image: url(assest/bg2.jpeg);
  height: 50%;
  background-size: cover;

}
.bg2>div>h2{
  font-size: 4rem;
  font-weight: 600;
}
.bg2>div{
  padding-top:10% ;
  padding-left: 10% ;
  display: flex;
  flex-direction: column;
  gap:10px;


  color: white;
}
.bg2>div>p{
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.bg3{
  background-image: url(assest/bg3.jpeg);
  height: 50%;
  background-size: cover;

}
.bg3>div>h2{
  font-size: 4rem;
  font-weight: 600;
}
.bg3>div{
  padding-top:10% ;
  padding-left: 50% ;
  display: flex;
  flex-direction: column;
  gap:10px;


  color: white;
}
.bg3>div>p{
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.bg4{
  background-image: url(assest/bg4.jpeg);
  height: 50%;
  background-size: cover;

}
.bg4>div>h2{
  font-size: 4rem;
  font-weight: 600;
}
.bg4>div{
  padding-top:10% ;
  padding-left: 10% ;
  display: flex;
  flex-direction: column;
  gap:10px;


  color: white;
}
.bg4>div>p{
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.faqs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    height: 61%;
    gap: 10px;
}

.faqDetail{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}
.faqDetail > p{
    font-size:25px;
    font-weight: 800;
}
.drop{
    display: flex;
    justify-content: space-between; 
    padding:  20px 0;
    font-size :18px;
    font-weight: 700;
}
/* i {
    width: 100%;
} */
hr{

    opacity: 0.4;
}
.helpCenter{
    width: 50%;
}
.helpCenter > p {

    font-size: 20px;
    font-weight: 800;
}
.helpCenter > p > span {
    color: #3ebaff;
}



/*
 *  STYLE 2
 */

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #5f1010;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}



/*TRA */
textarea:focus, input:focus{
    outline: none;

}

.navbar img:hover{
  background-color: grey;
  border-radius: 20px;

  cursor: pointer;
}

@media screen and (min-width:320px) and (max-width:480px){
  * {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: Roboto,Arial,sans-serif;
}

.container {
width: 199vw;
height: 175vh;
}

.navbar {
position: sticky;
top: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 20px 4px;
background-color: black;
}
.ytdesc >h2 {
font-family: Roboto,Arial,sans-serif;
text-align: center;
font-weight: 100;
font-size: 26px;
line-height: 28px;
}
.ytPremium {
font-family: Roboto,Arial,sans-serif;
height: 29%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
gap: 11px;
}
.ytPremiumDetails > button {
padding: 9px 5px;
border-radius: 15px;
width: 40%;
border: none;
font-weight: 600;
background-color: #3ae6ff;
}
.ytPremiumDetails p:nth-child(2) {
font-size: 17px;
font-weight: lighter;
}
.features {
/* padding: 10px; */
background-color: black;
color: white;
display: flex;
height: 31%;
justify-content: center;
align-items: center;
text-align: center;
gap: 40px;
}
.features div:nth-child(1), .features div:nth-child(2), .features div:nth-child(3) {
width: 28%;
height: 58%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.features h2 {
font-size: 18px;
}
.bg1>div>p {
font-weight: 200;
font-size: 15px;
line-height: 23px;
}
.bg1>div>h2 {
font-size: 3rem;
font-weight: 600;
}
.bg1>div {
padding-top: 10%;
padding-left: 49%;
display: flex;
flex-direction: column;
gap: 10px;
color: white;
}
.bg1 {
background-image: url(assest/bg1.jpeg);
height: 27%;
background-size: cover;
}
.bg2>div>p {
font-weight: 400;
font-size: 21px;
line-height: 26px;
}
.bg2>div {
padding-top: 28%;
padding-left: 3%;
display: flex;
flex-direction: column;
gap: 2px;
color: white;
}
.bg2>div>h2 {
font-size: 2rem;
font-weight: 800;
}
.bg2 {
background-image: url(assest/bg2.jpeg);
height: 28%;
background-size: cover;
}
.bg3>div>h2 {
font-size: 2rem;
font-weight: 600;
}
.bg3 {
background-image: url(assest/bg3.jpeg);
height: 28%;
background-size: cover;
}
.bg3>div {
padding-top: 19%;
padding-left: 47%;
display: flex;
flex-direction: column;
gap: 3px;
color: white;
}
.bg3>div>p {
font-weight: 400;
font-size: 17px;
line-height: 22px;
}


.bg4 {
background-image: url(assest/bg4.jpeg);
height: 27%;
background-size: cover;
}
.bg4>div {
padding-top: 21%;
padding-left: 10%;
display: flex;
flex-direction: column;
gap: 10px;
color: white;
}
.bg4>div>h2 {
font-size: 2rem;
font-weight: 600;
}
.bg4>div>p {
font-weight: 400;
font-size: 16px;
line-height: 24px;
}


.faqs {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
background-color: black;
height: 24%;
gap: 10px;
}
.faqDetail {
width: 60%;
display: flex;
flex-direction: column;
/* gap: 20px; */
}
.faqDetail > p {
font-size: 22px;
font-weight: 800;
}

.drop {
display: flex;
justify-content: space-between;
padding: 12px 0;
font-size: 11px;
font-weight: 600;
}



}


@media screen and (min-width:481px) and (max-width:768px){
    .ytPremium {
font-family: Roboto,Arial,sans-serif;
height: 23%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
gap: 8px;
}
.ytdesc >h2 {
font-family: Roboto,Arial,sans-serif;
text-align: center;
font-weight: 100;
font-size: 24px;
line-height: 30px;
}
.ytPremiumDetails > button {
padding: 8px 29px;
border-radius: 15px;
width: 38%;
border: none;
font-weight: 600;
background-color: #3ae6ff;
}
.ytPremiumDetails p:nth-child(2) {
font-size: 18px;
font-weight: lighter;
}

.features {
/* padding: 10px; */
background-color: black;
color: white;
display: flex;
height: 19%;
justify-content: center;
align-items: center;
text-align: center;
gap: 94px;
}

.features div:nth-child(1), .features div:nth-child(2), .features div:nth-child(3) {
width: 18%;
height: 76%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.features h2 {
font-size: 15px;
}

.faqs {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
background-color: black;
height: 22%;
gap: 24px;
}
.faqDetail {
width: 62%;
display: flex;
flex-direction: column;
/* gap: 20px; */
}
.faqDetail > p {
font-size: 18px;
font-weight: 800;
}
.drop {
display: flex;
justify-content: space-between;
padding: 12px 0;
font-size: 15px;
font-weight: 700;
}
.helpCenter {
width: 47%;
}
.helpCenter > p {
font-size: 11px;
font-weight: 800;
}
.bg4 {
background-image: url(assest/bg4.jpeg);
height: 24%;
background-size: cover;
}
.bg4>div>p {
font-weight: 400;
font-size: 27px;
line-height: 44px;
}
.bg4>div>h2 {
font-size: 3rem;
font-weight: 600;
}
.bg4>div {
padding-top: 10%;
padding-left: 10%;
display: flex;
flex-direction: column;
gap: 29px;
color: white;
}
.bg4 {
background-image: url(assest/bg4.jpeg);
height: 24%;
background-size: cover;
}
.bg3>div>p {
font-weight: 400;
font-size: 20px;
line-height: 29px;
}
.bg3>div>h2 {
font-size: 3rem;
font-weight: 600;
}
.bg3 {
background-image: url(assest/bg3.jpeg);
height: 24%;
background-size: cover;
}
.bg3>div {
padding-top: 10%;
padding-left: 50%;
display: flex;
flex-direction: column;
gap: 17px;
color: white;
}
.bg2 {
background-image: url(assest/bg2.jpeg);
height: 23%;
background-size: cover;
}
.bg2>div {
padding-top: 10%;
padding-left: 10%;
display: flex;
flex-direction: column;
gap: 5px;
color: white;
}
.bg2>div>h2 {
font-size: 3rem;
font-weight: 600;
}
.bg2>div>p {
font-weight: 400;
font-size: 20px;
line-height: 40px;
}
.bg1 {
background-image: url(assest/bg1.jpeg);
height: 24%;
background-size: cover;
}
.bg1>div {
padding-top: 10%;
padding-left: 50%;
display: flex;
flex-direction: column;
gap: 26px;
color: white;
}
.bg1>div>h2 {
font-size: 3rem;
font-weight: 600;
}
.bg1>div>p {
font-weight: 400;
font-size: 20px;
line-height: 32px;
}
}

 @media screen and (min-width:769px) and (max-width:1024px){
   .ytPremium {
font-family: Roboto,Arial,sans-serif;
height: 31%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
gap: 50px;
}
.features {
/* padding: 10px; */
background-color: black;
color: white;
display: flex;
height: 27%;
justify-content: center;
align-items: center;
text-align: center;
gap: 40px;
}
.bg1 {
background-image: url(assest/bg1.jpeg);
height: 33%;
background-size: cover;
}
.bg2 {
background-image: url(assest/bg2.jpeg);
height: 33%;
background-size: cover;
}
.bg3 {
background-image: url(assest/bg3.jpeg);
height: 31%;
background-size: cover;
}
.bg4 {
background-image: url(assest/bg4.jpeg);
height: 34%;
background-size: cover;
}
.faqs {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
background-color: black;
height: 30%;
gap: 10px;
}
}


@media screen and (min-width:1024px) and (max-width:1200px){
.ytPremium {
font-family: Roboto,Arial,sans-serif;
height: 29%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
gap: 50px;
}
.features {
/* padding: 10px; */
background-color: black;
color: white;
display: flex;
height: 24%;
justify-content: center;
align-items: center;
text-align: center;
gap: 109px;
}
.bg1 {
background-image: url(assest/bg1.jpeg);
height: 33%;
background-size: cover;
}
.bg2 {
background-image: url(assest/bg2.jpeg);
height: 33%;
background-size: cover;
}
.bg3 {
background-image: url(assest/bg3.jpeg);
height: 32%;
background-size: cover;
}
.bg4 {
background-image: url(assest/bg4.jpeg);
height: 32%;
background-size: cover;
}
.faqs {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
background-color: black;
height: 23%;
gap: 10px;
}
}